*{
  user-select: none;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }
.br-mobile{
  display: none;
}
button{
  padding: 0;
  background-color: none;
  border: none;
}

/*---- HEADER ----*/

header {
  background-color: #000;
  height: 4vh;
  padding: 2.3vh;
  color: #fff;
  
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: block;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar li {
  margin: 0 32px;
  letter-spacing: 1.5px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #616161;
}

/*---- MOBILE MENU ----*/

.hamburguer{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 28px;
  height: 2px;
  border-radius: 2px;
  margin: 5px auto;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

/*---- HOME ----*/

#estrelas_fundo{
  background-image: url("fotos/Fundo_estlas.jpg");
  background-size: cover; 
  padding-top: 22vh;
  padding-bottom: 22vh;
  background-position: center; 
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.ins {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color: #fff;
  animation-name: slidein;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.albumm {
  width: 40vh; 
  height: auto;
  float: left;
  border-radius: 5px;
  margin-right: 3em;
}

.info {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-left: 5em;
}

@keyframes slidein {
  0% {
      opacity: 0;
      transform: translateY(-20%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

#nv-album{
  margin: 0;
  padding: 0;
  font-size: 6rem;
}

.discografia{
  margin: 0;
  padding: 0;
  font-size: 1.3em;
  color: rgb(230, 230, 230);
}

.info p{
  font-size: 1.2em;
}

#btn1{
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  transition: color 0.3s;
}

#btn1:hover{
  color: #616161;
}

.fundo_cor {
  width: 100%;
  background-color: rgb(15, 15, 15);
  height: 60vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.discografia {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.albuns {
  display: flex;
  transition: transform 0.3s ease;
}

.albumm {
  flex: 0 0 250px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
}

.albumm img {
  width: 100%;
  height: auto;
}

.arrow {
  display: flex;
  justify-content: space-between;
  margin-top: 5;
}

.arrow button {
  font-size: 1em;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
} 

.arrow button:focus {
  outline: none;
}

.byorl{
  height: fit-content;
  width: 100%;
}

/*---- POSTAGENS ----*/

.post {
  width: 418px;
  height: 250px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-date {
  font-size: 9px;
  font-weight: bold;
  color: #666;
}

.posts-imagem {
  width: 409px;
  height: 200px;
}

.posts-imagem img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.person-post {
  font-size: 12px;
  color: #666;
}

.post-image img {
  width: 100%;
  height: auto;
}

.post-comments {
  margin-top: 10px;
}

.comment {
  font-size: 12px;
  color: #888;
  margin-bottom: 5px;
}

.post-big {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-image img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-size: 14px;
  font-weight: bold;
}

.like-button {
  display: inline-block;
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.like-button:hover {
  color: #000000;
}

.comment-section {
  margin-top: 20px;
}

.comment {
  font-size: 14px;
  margin-bottom: 10px;
}

.new-comment input {
  width: 100%;
  border: none;
  
  border-bottom: 1px solid #000000;
  font-size: 14px;
  padding: 5px 0;
  outline: none; 
}

.new-comment hr {
  border: none;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}

.main-container {
  display: flex; 
}

.left-column {
  flex: 1;
  padding: 20px;
  position: sticky;
  top: 10;
}

.right-column {
  flex: 2; 
  padding: 20px;
  margin-right: 10px;
}

.rp-title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-rp{
  font-size: 14px;
  margin-bottom: 10px;
}

.break-line{
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.like-button.active {
  color: rgb(0, 0, 0);
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 100% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.3);
  }
}

/* ---- MEMBROS ---- */

#membros-banner{
  width: 100%;
  height: 32em;
  overflow: hidden;
}

#membros-banner input{
  display: none;
}

#membros-banner-imgs{
  display: flex;
  flex-wrap: nowrap;
  width: 400%;
  height: 32em;
  transition: 1.5s;
}

#banner-btns{
  display: flex;
  justify-content: center;
  position: relative;
  top: -50px;
}
.banner-btn{
  display: block;
  border: 1px solid #ffffff;
  background-color: black;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.banner-btn:checked{
  background-color: rgb(250, 250, 250);
}

.banner-btn:not(:last-child)
{
  margin-right: 12px;
}

#banner1:checked ~ #membros-banner-imgs{
  transform: translateX(0%);
  transition: 1s;
}
#banner2:checked ~ #membros-banner-imgs{
  transform: translateX(-25%);
  transition: 1s;
}
#banner3:checked ~ #membros-banner-imgs{
  transform: translateX(-50%);
  transition: 1s;
}
#banner4:checked ~ #membros-banner-imgs{
  transform: translateX(-75%);
  transition: 1s;
}

/* background btn */

#banner1:checked ~ #banner-btns #banner-btn1{
  background-color: #4b4b4b;
  transition: 0.1s;
}
#banner2:checked ~ #banner-btns #banner-btn2{
  background-color: #4b4b4b;
  transition: 0.1s;
}
#banner3:checked ~ #banner-btns #banner-btn3{
  background-color: #4b4b4b;
  transition: 0.1s;
}
#banner4:checked ~ #banner-btns #banner-btn4{
  background-color: #4b4b4b;
  transition: 0.1s;
}


.membros-banner-img{
  width: 25%;
  height: 32em;
}
.membros-banner-img img{
  width: 100%;
  height: 100%;
}

/* membros reality */

#reality{
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  height: fit-content;
  margin-bottom: -12em;
}
#video-reality{
  width: 100%;
  height: 100%;
}
#reality-img{
  width: 50em;
  height: 34em;
}
#reality-img img{
  width: 100%;
  height: 100%;
}
#reality-logo{
  width: fit-content;
  position: relative;
  right: -80%;
  z-index: 100;
  width: 16em;
  top: -8em;
}
#reality-logo img{
  width: 100%;
}
#radial-gradient{
  width: 100%;
  height: 28em;
  background-image: radial-gradient(ellipse at center, #403299 60%, transparent );
  filter: blur(50px);
  position: relative;
}
#reality-concept{
  position: relative;
  top: -22em;
  margin-bottom: -18em;
  text-align: center;
  font-size: larger;
  color: #ffffff;
  width: 75%;
  padding: 6%;
}



#lista-membros{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(fotos/Fundo_estlas.jpg);
  background-repeat: repeat;
  background-size: contain;
}
#titulo-info{
  margin-top: 6em;
  font-size: 2.6em;
  display:inline-block;
  color: #ffffff;
  font-weight: 600;
}
#grid-membros{
  padding: 6em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6em;
  background-color: none;
}

.membro-perfil{
  width: 22vw;
  height: auto;
  background-color: #000000;
}
.membro-perfil img{
  width: 100%;
}
.membro-perfil p{
  font-size: 1.8rem;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color:rgb(255, 255, 255);
  font-weight: 500;
}
.membro-perfil .nome-verde{
  color: #06D80D;
}
.escondido{
  opacity: 0;
  max-height: 0;
  transition: 1s;
}

.aparecido{
  opacity: 1;
  max-height: 500px;
}

.membro-selecionado{
  display: none;
  color: white;

}
.membro-selecionado img{
  width: 25vw;
  
}
.info-selecionado{
  margin: 1em;
  margin: 0;
  text-shadow:  #745EFF inset;
}


.info-selecionado p, .info-selecionado a, .info-selecionado h2{
  margin: 1em;
  background: radial-gradient(circle, #ff6b6b, #63d8f1);
  -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
}

.info-selecionado h2{
  margin-top: 0;
  margin-bottom:0;
}

.info-selecionado hr{
  margin-left: 1em;
}
.aparecido{
  display: flex;
  animation: animate-div ease;
  animation-duration: 1s;
}

.escondido{
  display: none;
}
 
 @keyframes animate-div {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 100%);
    transform: translate3d(0, 0, 100%);
  }
 
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
 }



/*------- FOOTER --------*/

.footer {
  background-color: #000;
  color: #fff;
  padding: 40px;
  text-align: center;
}

.footer p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #ccc;
}

  /*Responsivo*/
  
  @media only screen and (max-width: 800px)
  {
    .br-mobile{
      display: inline;
    }
    .ins {
      display: flex;
      flex-direction: column ;
    }

    .nv-album{
       font-size: 1em;     
    }

    .ins img{
      height: 30vw;
    }
    .info{
      margin-left: 0;
    }

    .hamburguer{
      position: relative;
      z-index: 5;
      display: block;
      width: fit-content;
      float: right;
      padding: 0 4%;
    }

    .hamburguer.active .bar:nth-last-child(2){
      position: fixed;
      transform: translateY(5px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-last-child(1){
      opacity: 0;
      transition: 0s;

    }

    .hamburguer.active .bar:nth-last-child(3){
      position: fixed;
      transform: translateY(5px) rotate(-45deg);
    }

    .nav-menu{
      position: fixed;
      z-index: 4;
      top: -100%;
      left: 0px;
      gap: 0;
      flex-direction: column;
      width: 100%;
      height: 100%;
      transition: 0.3s;
      background-color: #000;
      text-align: center;
      display: flex;
      justify-content: space-around;
    }

    .nav-item{
      margin: 16px 0px;
    }
    
    .nav-menu.active{
      top: 0;
    }
    #grid-membros{
      
      grid-template-columns: repeat(2, 1fr);
      gap: 35px;
      
    }
    .membro-perfil{
      width: 35vw;
      height: auto;
      background-color: #000000;
    }
    .membro-perfil img{
      width: 100%;
    }
    .membro-perfil p{
      font-size: 1.2rem;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      color:rgb(255, 255, 255);
      font-weight: 500;
    }
  }


::-webkit-scrollbar{
  width:10px;
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background-color: #383838;
  border-radius: 4px;
}